<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package com.ce.service.domain ============ -->
	<bean id="userDao" class="com.ce.service.dao.UserDaoBean">
	</bean>
	<bean id="businessDao" class="com.ce.service.dao.BusinessDaoBean">
        <!-- <property name="mardaoParentDao" ref="userDao" /> -->
	</bean>
	<bean id="communicationOptionDao" class="com.ce.service.dao.CommunicationOptionDaoBean">
	</bean>
	<bean id="communicationTypeDao" class="com.ce.service.dao.CommunicationTypeDaoBean">
	</bean>
	<bean id="businessCategoryDao" class="com.ce.service.dao.BusinessCategoryDaoBean">
	</bean>
	<bean id="detailDao" class="com.ce.service.dao.BusinessDetailsDaoBean"/>
	

</beans>