html{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:100%;
	padding:0;
	background:#e2e2e2;
	margin:0;
    font-size: 1em;
}

#bar{
	width:100%; 
	height:35px; 
	padding:5px 0; 
	background:url(img/bar.png) repeat-x;
	border-bottom:1px solid #BBBBBB;
}
a {
	text-decoration:none 
}
.button {
	background:#d2e0ea url(img/buttonbg.png) repeat-x; 
	border-radius:3px;
    -moz-border-radius:3px;
    text-decoration: none;
}
#logoutButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(img/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    padding-left: 15px;
    text-decoration: none;
}

/* Login Button Text */
#logoutButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff;
    padding:9px 16px 9px 0px;
    /*background:url(img/loginArrow.png) no-repeat 53px 7px;*/
    display:block
}

#loginButton:hover {
    background:url(img/buttonbgHover.png) repeat-x;
}

#body_container {
	border: 1px solid #BBB;
	height: auto;
	margin: 0 auto;
	width: 900px;
	border-top: none;
	background: #ffffff;
	font-size:14px;
}

#container {
    margin: 0 auto;
    width: 900px;
}

#adminmenu {
	border: 1px solid;
    float: left;
    height: 35px;
    line-height: 16px;
    width: 92%;
}

#adminmenu span{
	color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:9px 16px 9px 0px;
    /*background:url(img/loginArrow.png) no-repeat 53px 7px;*/
    display:block
}

.menu {
	float:left;
	height: 35px;
	line-height:35px; 
	font-size: 14px;
	width: 800px;
}

.menu a{
	color: #445058;
    float: left;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF;
}

img.verticalseparator {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    float: left;
	padding-top: 7px;
}

.menu_wrapper {
	/*float:right;
	width: 369px;*/
}

h1{
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin:0;
	padding:0;
}

.new_category {
	background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    height: 200px;
    padding: 5px;
}

.category_list {
	clear: both;
}
#button_container {
	clear:both;
	background: url('img/grey_button_off.png');
	height: 31px;
	width: 85px;
	text-align: center;
	line-height: 31px;
	color: white;
	font-weight: bold;
}

.headline{
	background: none repeat scroll 0 0 #F2F2F2;
    height: 40px;
    line-height: 40px;
}

.headline .headline_title{
	float:left;
	padding-left: 5px;
	font-size:17px;
}
.headline .newitem_button{
	background: url('img/grey_button_off.png');
	float: right;
	margin-right: 5px;
	clear: right;
	height: 31px;
	width: 100px;
	text-align: center;
	line-height: 31px;
	color: white;
	font-weight: bold;
	background-size: 100% 100%;
}
.newitem_button a {
	color:#ffffff;
}
#vseperator{
	width:100%;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #ffffff;
	clear:both;
}