html{
	margin: 0;padding:0;
}
body{
	/*background: url('img/bg-pattern.jpg');*/
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
    margin:0;
    overflow: hidden;
}

.savebutton{
	background: url('img/grey_button_on.png');	
	background-repeat:no-repeat;
	width: 90px;
	height:32px;
	line-height:32px;
	border:none;
	color:#ffffff;
}

#usernamebox{
	
}

#passworbox{
	
}

div.user_footer {
	font-size: 15px;
	height: 26px;
	width: 100px;
	margin-left: 20px;
	border: 1px solid #899CAA;
	border-radius: 3px;
	margin-top: 6px;
	line-height: 26px;
	text-align: center;
	box-shadow: 0 0 1px 0px #000000;
}

.footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #838A9A;
	box-shadow: 0 0 14px 0px #000;
}

.bar {
	height: 40px;
	line-height: 40px;
	width: 100%;
	background: #424242;
	background-image: -webkit-gradient(linear, 0 0, 0 100, from(#F4F5F7), to(#999DA9));
	background-image:-moz-linear-gradient(top, #f4f5f7, #999da9);
	background-image:-o-linear-gradient(top, #f4f5f7, #999da9);
}

.logout {
	width: 200px;
	height: 130px;
	position: absolute;
	bottom: 40px;
	background: #424242;
	margin-left: 20px;
	border-radius: 3px;
	box-shadow: 0 0 6px 3px #000;
	background-image: -webkit-gradient(linear, 0 0, 0 100, from(#F4F5F7), to(#999DA9));
	background-image:-moz-linear-gradient(top, #f4f5f7, #999da9);
	background-image:-o-linear-gradient(top, #f4f5f7, #999da9);
	display:none;
}

.userbutton a, .userbutton a:hover, .userbutton a:VISITED {
	text-decoration: none;
}

.logout .logoutwrapper .edituser {
	margin-top:20px;
}
.logout .logoutwrapper {
	margin:20px;
}
.logout .logoutwrapper .userbutton{
	height: 30px;
	width: 160px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #838A9A;
	box-shadow: 1px 2px 3px 0px #000;
	cursor: pointer;
}

.menu_item {
	float:left;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
